{% extends 'base.html' %}
{% block bodyblock %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="note_subject" class="form-label mt-4">Note Subject</label>
            <input type="text" name="note_subject" class="form-control" id="note_subject">
        </div>
        <div class="mb-3">
            <label for="note_description" class="form-label">Note Details</label>
            <textarea class="form-control" name="note_details" id="note_description" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<div class="container mt-3">
    <a class="btn btn-info" href="{% url 'create_note:view' %}">View Old Note{{count|pluralize:'s'}}</a>
</div>
{% endblock bodyblock %}