{% extends 'base.html' %}


{% block bodyblock %}

<div class="container mt-4" style="padding: 20px;">
    <h3 style="margin: 0;">You have total<i style="color: rgb(255, 0, 0);"> {{note_count}}</i> Note{{note_count|pluralize:'s'}}</h3>
    <a class="btn btn-warning mt-3" href="{% url 'create_note:create' %}">Create New</a>
    {% for note in note_list %}
    <p class="mt-4"></p>
    <h3>{{note.note_sub}}</h3>

    <p>{{note.note_detail}}</p>
    <a class="btn btn-success" href="{% url 'create_note:update' note.id %}">Update Note</a>
    <a class="btn btn-danger" href="{% url 'create_note:delete' note.id %}">Delete Note</a><br>
    {% endfor %}
</div>

{% endblock bodyblock %}